* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-weight: 900;*/
}

#mainContainer {
    margin: 100px 75px 0px 75px;
    /*padding: 0px 0px 0px 0px;*/
}

#mainContainer #header,
#mainContainer #body {
    margin: 0px 0px 20px 0px;
}

#mainContainer .left {
    width: 49%;
    display: inline-block;
    margin-right: 1%;
}

#mainContainer .right {
    width: 48.75%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}

#mainContainer #header .left {
    /*float: left;*/
    text-align: left;
}

#mainContainer #header .right {
    float: right;
    text-align: right;
}

#mainContainer #header .left ul,
#mainContainer #header .right ul {
    list-style-type: none;
}

#mainContainer #header .left ul li  {
    display: inline-block;
    padding: 0px 20px 0px 0px;
}

#mainContainer #header .right ul li {
    display: inline-block;
    padding: 0px 0px 0px 20px;
}

#mainContainer hr {
    width: 100%;
    margin: 5px 0px;
}

#mainContainer .errors {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 12pt;
}

#mainContainer #body #body-top .right {
    /*width: 47%;*/
    /*line-height: 65px;*/
    vertical-align: top;
    text-align: right;
    float: right;
}

#mainContainer #body h2 {
    margin: 15px 0px 15px 0px;
}

#mainContainer #body h3 {
    margin: 10px 0px 10px 0px;
}

#mainContainer #body h4 {
    margin: 10px 0px 0px 0px;
}

#mainContainer #body .errors {
    margin: 5px 0px 15px 0px;
}

#mainContainer #body form {
    margin: 0;
    padding: 0;
    /*margin-right: 10px;*/
}

#mainContainer #body .inputTextLeft, #mainContainer #body .inputTextRight {
    width: 99%;
    padding: 5px 0px 5px 5px;
    /*margin-right: -5px;*/
    font-size: 12pt;
    color: rgba(75, 75, 75, 1);
}

#mainContainer #body #section .textAreaItem,
#mainContainer #body #section #topic .textAreaIdea {
    width: 99%;
    /*display: block;*/
    font-size: 12pt;
    padding: 5px 10px 5px 10px;
    resize: none;
}

#mainContainer #body #section #message {
    margin-left: 3%;
}

#mainContainer #body #section #message_no {
    /*margin-left: 3%;*/
}

#mainContainer #body #message .left {
    width: 15%;
    display: inline-block;
}

#mainContainer #body #message .right {
    width: 82.625%;
    display: inline-block;
    vertical-align: top;
}

#mainContainer #body #message .right .r-top {
    margin: 10px 0px 10px 0px;
    border: 1px black solid;
}

#mainContainer #body #message .right .r-top p {
    margin: 10px;
}

#mainContainer #body #message .right .r-bot .r-bot-left {
    width: 70%;
    display: inline-block;
}

#mainContainer #body #message .right .r-bot .r-bot-left form {
    /*width: 70%;*/
    display: inline-block;
}

#mainContainer #body #message .right .r-bot .r-bot-right {
    width: 28%;
    display: inline-block;
}

#mainContainer #body #message .right .r-bot .r-bot-left h5 a {
    display: inline-block;
}

#mainContainer #body #message .right .r-bot .r-bot-right h5 a {
    display: inline-block;
}

#mainContainer #body .center {
    /*width: 100%;*/
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#mainContainer .btnSubmit,
#mainContainer .btnSubmitGreen,
#mainContainer .btnSubmitBlue,
#mainContainer .btnSubmitRed,
#mainContainer .btnSubmitHovGreen,
#mainContainer .btnSubmitHovBlue,
#mainContainer .btnSubmitHovRed {
    margin: 20px 0px 0px 0px;
}

#mainContainer #body #body-top .butSubmit,
#mainContainer #body #body-top .btnSubmitGreen {
    margin: 0px 0px 0px 0px;
}

#mainContainer .btn-left {
    text-align: left;
}

#mainContainer .btn-center {
    text-align: center;
}

#mainContainer .btn-right {
    text-align: right;
}

#mainContainer .btnSubmit,
#mainContainer .btnSubmit:hover {
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 10pt;
}

#mainContainer .btnGreen {
    border: 1.5px solid green;
    color: white;
    background: green;
}

#mainContainer .btnBlue {
    border: 1.5px solid blue;
    color: white;
    background: blue;
}

#mainContainer .btnRed {
    border: 1.5px solid red;
    color: white;
    background: red;
}

#mainContainer .btnGreenHov {
    border: 1.5px solid green;
    color: green;
    /*padding: 5px 10px;*/
}

#mainContainer .btnRedHov {
    color: red;
    border: 1.5px solid red;
    /*padding: 5px 10px;*/
}

#mainContainer .btnBlueHov {
    color: blue;
    border: 1.5px solid blue;
    /*padding: 5px 10px;*/
}

#mainContainer .btnGreen:hover {
    border: 1px solid green;
    color: green;
    background: rgba(255, 255, 255, 0);
}

#mainContainer .btnBlue:hover {
    border: 1px solid blue;
    color: blue;
    background: rgba(125, 125, 125, 0);
}

#mainContainer .btnRedHov:hover {
    border: 1px solid red;
    color: white;
    background: red;
}

#mainContainer .btnGreenHov:hover {
    border: 1px solid green;
    color: white;
    background: green;
}

#mainContainer .btnBlueHov:hover {
    border: 1px solid blue;
    color: white;
    background: blue;
}

#mainContainer .btnMarginRight {
    margin-right: 50px;
}

#mainContainer #body .inputTrans {
    display: inline-block;
    width: 65%;
    padding: 7.5px 10px 7.5px 10px;
    font-size: 12pt;
    color: rgba(55, 55, 55, 1);
}

#mainContainer .h2label {
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

#mainContainer #body .h2Space {
    display: inline-block;
    padding-left: 15px;
    font-weight: normal;
    margin: 5px 0px 15px 0px;
}

#mainContainer label {
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

#mainContainer .showLabel {
    display: inline-block;
    text-align: left;
    margin: 5px 0px 5px 0px;
}

#mainContainer #section label .indent {
    text-align: left;
    margin: 0px 0px 0px 20px;
}

#mainContainer .h4Space {
    display: inline-block;
    padding-left: 10px;
    font-weight: normal;
    margin: 5px 0px 5px 0px;
}

#mainContainer .h4Input {
    display: inline-block;
    margin-left: 10px;
    font-size: 10pt;
    padding: 5px 5px 5px 10px;
    margin: 10px 0px 10px 15px;
    height: 22px;
    width: 100%;
}

#mainContainer p {
    color: black;
}

#mainContainer #body .inputSelect,
#mainContainer #body #section .ta_message {
    /*width: 100%;*/
    /*padding: 0px 10px 0px 10px;*/
    font-size: 12pt;
    color: rgba(55, 55, 55, 1);
    /*width: 100%;*/
    /*margin-right: 10px;*/
}

#mainContainer #body .inputSelect {
    width: 50%;
    display: block;
}

#mainContainer #body #message .message_push {
    /*margin: 0px 0px 0px 50px;*/
    padding: 0px 0px 0px 25px;
    /*background:rgba(225, 225, 225, .8);*/
}

#mainContainer .errors {
    color: red;
}

#mainContainer #body .left form span {
    display: block;
    padding: 0px 0px 10px 0px;
}

#mainContainer table {
    width: 100%;
    border: none;
}
/*
#mainContainer #body #section .small {
    width: 50%;
    border: none;
}*/

#mainContainer #body #section img {
    width: 100%;
    height: 100%;
}

#mainContainer table thead {
    background-color: rgba(125, 125, 125, .75);
}

#mainContainer table thead tr {
    height: 40px;
}

#mainContainer table tbody tr {
    height: 40px;
}

#mainContainer tbody tr:nth-child(even) {
    background: rgba(220, 220, 220, .6);
}

#mainContainer tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, .6);
}

#mainContainer table tbody tr td {
    padding: 5px 25px 5px 25px;
    font-size: 10pt;
}

#mainContainer table tbody tr td form {
    display: inline-block;
}

#mainContainer table tbody tr td form .btnSubmit {
    margin: 0px;
}

#mainContainer #body table tbody tr .center {
    text-align: center;
}